.counter{
	background-color: blue;
	padding: 50px;
	text-align: center;
	display: inline-block;
	margin-bottom: 30px;

}

.counter span{
	display: inline-block;
	margin-bottom:20px;
	color: #fff;
}

.btn{
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 4px;
}

.btn-i{
	margin-right: 5px;
}

.btn-d{
	margin-left: 5px;
}

p{
	font-weight: 700;
	color: #fff;
}
